.App {
  text-align: center;
  margin: 200px;
}

.time{
  display: flex;
  font-size: 36px;
  font-weight: bold;
  width:500px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  font-size:16px;
  color:gray;
  width:300px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
span{padding:10px; }